
  form {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0010pxrgba(0, 0, 0, 0.1);
  }
  
  fieldset.pessoa {
    border: none;
    color: rgb(17, 17, 17);
    padding: 10px;
  }
  
  fieldset.label.nome{

    color: rgb(19, 0, 104);

  }
  